<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019. Volodymyr Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodymyr@hryvinskyi.com>
  ~ @github: <https://github.com/hryvinskyi>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Layout">
        <plugin name="Hryvinskyi_Base::plugin_layout" type="Hryvinskyi\Base\Plugin\Layout" sortOrder="10"/>
    </type>
    <type name="Magento\Framework\View\TemplateEngineFactory">
        <plugin name="Hryvinskyi_Base::debug_hints" type="Hryvinskyi\Base\Plugin\DebugHints" sortOrder="10"/>
    </type>

    <type name="Magento\Framework\View\TemplateEngine\Php">
        <plugin name="Hryvinskyi_Base::add_view_models_registry_variable" type="Hryvinskyi\Base\Plugin\AddViewModelsRegistryVariable"/>
    </type>
</config>
