<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2026. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\View\Helper\SecureHtmlRender\HtmlRenderer"
                type="Hryvinskyi\Base\View\Helper\SecureHtmlRender\HtmlRenderer"/>
    <preference for="Hryvinskyi\Base\Api\Menu\MenuItemFactoryInterface"
                type="Hryvinskyi\Base\Model\Menu\MenuItemFactory"/>
    <type name="Magento\Framework\View\Layout">
        <plugin name="Hryvinskyi_Base::plugin_layout" type="Hryvinskyi\Base\Plugin\Layout" sortOrder="10"/>
    </type>
    <type name="Magento\Framework\View\TemplateEngineFactory">
        <plugin name="Hryvinskyi_Base::debug_hints" type="Hryvinskyi\Base\Plugin\DebugHints" sortOrder="10"/>
    </type>
    <type name="Magento\Framework\View\TemplateEngine\Php">
        <arguments>
            <argument name="blockVariables" xsi:type="array">
                <item name="viewModels" xsi:type="object">Hryvinskyi\Base\Model\ViewModelRegistry\Proxy</item>
                <item name="secureRenderer" xsi:type="object">Magento\Framework\View\Helper\SecureHtmlRenderer\Proxy</item>
                <item name="escaper" xsi:type="object">Magento\Framework\Escaper\Proxy</item>
                <item name="localeFormatter" xsi:type="object">Magento\Framework\Locale\LocaleFormatter\Proxy</item>
            </argument>
        </arguments>
    </type>
</config>
