<?xml version="1.0"?>

<!--
  ~ Copyright (c) 2017. Volodumur Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodumur@hryvinskyi.com>
  ~ @github: <https://github.com/scriptua>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="script_base" frontName="script_base">
            <module name="Script_Base"/>
        </route>
    </router>
</config>